@import "globals.scss";

.about {
  margin-top: 100px;

  .content {
    padding: 2rem 0;
    background: $white-color;
  }
  .row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;

    p {
      font-family: "Source Sans Pro", sans-serif;
      line-height: 30px;
      margin-bottom: 10px;
    }
    .img {
      margin-top: 3rem;
    }
  }
}

@media (max-width: 768px) {
  .about {
    .row {
      display: block;
    }
  }
}
